.cardHolder {
  box-shadow: 5px 5px 5px 5px lightgray;
  height: 800px;
  width: 20%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

#product {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#header {
  text-align: center;
}

#formDiv {
  display: flex;
  flex-direction: column;
  height: 100%;
}
